{% load static %}

<div class="sidebar">
    <!-- Logo at the top -->
    <div class="logo-container">
        <img src="{% static 'core/images/ccs_logo.png' %}" alt="Logo" class="logo-imgs">
    </div>

    <ul>
        

        <li>
            <a href="{% url 'calendar' %}" class="{% if request.path == '/calendar/' %}active{% endif %}">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="{% url 'events_dashboard' %}" class="{% if request.resolver_match.url_name == 'events_dashboard' %}active{% endif %}">
                <i class="fa fa-bar-chart"></i>
                <span>Dashboard</span>
            </a>

        </li>

        {% if user_role == 'Admin' or user_role == 'Organizer' %}
        <li>
            <a href="{% url 'events_list' %}" class="{% if request.path == '/events_list/' %}active{% endif %}">
                <i class="fas fa-list-check"></i>
                <span>Events</span>
            </a>
        </li>
        {% if user_role == 'Admin' %}
         <li>
            <a href="{% url 'activities_list' %}" class="{% if request.path == '/activities_list/' %}active{% endif %}">
                <i class="fas fa-list-check"></i>
                <span>Extension Act</span>
            </a>
        </li>
        {% endif %}
        {% endif %}

        <li>
            <a href="{% url 'profile' %}" class="{% if request.path == '/profile/' %}active{% endif %}">
                <i class="fas fa-user"></i>
                <span>Profile</span>
            </a>
        </li>

        <li>
            <a href="{% url 'logout' %}" class="{% if request.path == '/logout/' %}active{% endif %}">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>



    


<script>
// JavaScript to toggle the active class
const sidebarLinks = document.querySelectorAll('.sidebar ul li a');

sidebarLinks.forEach(link => {
    link.addEventListener('click', () => {
        // Remove 'active' class from all links
        sidebarLinks.forEach(item => item.classList.remove('active'));

        // Add 'active' class to the clicked link
        link.classList.add('active');
    });
});
</script>
