{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>

        <div class="login-link" style="margin-top: 15px; text-align: center;">
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</body>

{% comment %} <div class="logo-wrapper">
    <img src="{% static 'accounts/images/logo_ccs.png' %}" alt="Logo" class="logo">
</div> {% endcomment %}
</html>

