<div class="prof-modal-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
          {% load widget_tweaks %}
          <div class="profile-picture-section">
            <label for="id_profile_picture">Profile Picture:</label>
            {{ form.profile_picture|add_class:"pictureinput" }}
          </div>

  
          <label for="id_first_name">First Name:</label>
          {{ form.first_name }} 

          <label for="id_middle_name">Middle Name:</label>
          {{ form.middle_name }}

          <label for="id_last_name">Last Name:</label>
          {{ form.last_name }}

          {% if user.role == 'admin' %}
            <label for="id_organization">Organization:</label>
            {{ form.organization }}
          {% endif %}
  
          <button type="submit" class="save-button">Update Profile</button>
        
    </form>
</div>