<div class="custom-modal">
  <div class="custom-modal-content">
      <div class="custom-modal-header">
          <span class="event-title">{{ event.name }}</span>
          <button class="modal-close" onclick="closeModal()">×</button>
      </div>

      <div class="custom-modal-body">
          <p><strong><span class="highlight">{{ event.name }}</span> {{ event.start_datetime|date:"Y" }},</strong>
          {{ event.description }}</p>
          <p><strong>By:</strong> {{ event.organization.name }}</p>
          <div class="event-details">
              <p>📍 {{ event.location }}</p>
              <p>📅 {{ event.start_datetime|date:"d. m. Y" }} &nbsp;&nbsp; ⏰ {{ event.start_datetime|time:"h:i A" }} - {{ event.end_datetime|time:"h:i A" }}</p>
              <p>👥 {{ event.event_type }}</p>
              {% if event.soft_copy %}
                <p>📄 <a href="{{ event.soft_copy.url }}" target="_blank">View Document</a></p>
              {% endif %}
          </div>
      </div>
  </div>
</div>
